@media only screen and (max-width: 850px) {
  :root {
    --blue: #525ded;
    --gray: #787878;
    --black: #333333;
    --text_color_gray: #adadad;
    --f_size_1: 0.9rem;
    --f_size_1_3: 1rem;
    --f_size_1_8: 1.5rem;
    --f_size_1_2_5: 2rem;
  }

  .container {
    padding: 0 30px;
  }

  .navbar .menu-items {
    display: none;
  }

  .navbar .toggle {
    display: block;
  }

  .navbar .hamburger-menu {
    display: block;
    position: relative;
  }


  .navbar .hamburger-menu img {
    right: 0;
  }

  .navbar .toggle {
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 1;
    background-color: #fff;
  }
  
  .menu-items .close img {
    position: absolute;
   width: 30px; 
   margin-bottom: 10px;
   border-bottom: 2px solid #525ded;

  }

  .main .search {
    width: 100%;
    margin: 20px 0;
  }

  .get-started-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "block-1"
      "block-2"
      "block-3";
    justify-items: center;
  }

  .get-started-container .block-1 .primary-heading {
    font-size: var(--f_size_1_3);
    font-weight: 700;
  }

  .get-started-container .block-1 .get-started {
    font-size: 2rem;
    font-weight: 700;
  }

  .get-started-container .block-3 .primary-heading {
    font-size: var(--f_size_1_3);
    font-weight: 700;
  }

  .get-started-container .block-3 .we-provide {
    color: var(--text_color_gray);
    font-size: var(--f_size_1_3);
    font-weight: 700;
  }

  .get-started-container .block-3 .btn {
    display: flex;
    justify-content: center;
  }

  .get-started-container .block-3 .btn .btn-secondary {
    width: 40%;
    min-width: 150px;
  }

  .mission {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .mission .play-content {
    display: block;
  }

  .mission .play-content .play-btn {
    margin-top: 15px;
  }

  .cards {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
  }
  .cards .company {
    text-align: center;
    margin-top: 30px;
  }
  .company-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .grid {
    margin-top: 50px;
    grid-gap: 50px;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .grid-container .grid-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .grid-container .grid-box .quote {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 40px 0;
  }

  .bullets {
    display: flex;
  }

  .hide {
    display: none !important;
  }

  .position-2 {
    grid-area: position2;
  }

  .position-3 {
    grid-area: position3;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    display: grid;
    justify-content: center;
  }

  .item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .item:nth-child(3) {
    display: none;
  }
  .item:nth-child(5) {
    display: none;
  }

  .feeds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  .feeds .feeds-col {
    width: 100%;
  }

  .learn-more img {
    width: 20px;
    height: 20px;
  }

  .link img {
    width: 20px;
    height: 20px;
  }

  .feeds .feeds-right {
    margin-top: 100px;
    width: 100%;
    margin-left: 30px;
  }

  .text-center {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .show {
    display: flex;
    flex-direction: column;
  }
}
